<header class="header" *ngIf="isAuthenticated()">
  <h1 class="title">Совкомбанк</h1>
  <nav class="nav">
    <a class="link nav-link" routerLink="main" routerLinkActive="nav-link-active">Главная</a>
    <a class="link nav-link" routerLink="payments" routerLinkActive="nav-link-active">Платежи и переводы</a>
    <a class="link nav-link" routerLink="history" routerLinkActive="nav-link-active">История</a>
    <a class="link nav-link" routerLink="birge" routerLinkActive="nav-link-active">Биржа</a>
  </nav>
  <app-search></app-search>
  <img src="../../assets/log-out.svg" class="svg-icon link" (click)="onLogout()" routerLink="../auth/login" />
</header>
