.container {
  width: 100%;
  display: grid;
  grid-template-columns: 320px 1fr 320px;
  grid-template-rows: repeat(6, 1fr);
  column-gap: 103px;
  padding: 58px 20px 20px;
  background: #eeeeee;
  height: 100vh;

  @media (max-width: 1024px) {
    column-gap: 30px;
  }
}

.wallets {
  grid-column: 1/2;
  grid-row: 1/6;
}

.main {
  grid-column: 2/3;
  grid-row: 1/6;
  display: flex;
  flex-direction: column;
  row-gap: 20px;
}

.prices {
  grid-column: 3/4;
  grid-row: 1/6;
  display: flex;
  flex-direction: column;
  row-gap: 20px;
}
