<div class="container">
  <app-wallet class="wallets"></app-wallet>
  <div class="history-list">
    <ng-container>
      <h2>Сегодня</h2>
      <div class="item">
        <div>
          <h3>Bank</h3>
          <p>perevod</p>
        </div>
        <div class="price">1242  &#8381;</div>

      </div>
      <div class="item">
        <div>
          <h3>Ivan</h3>
          <p>perevod</p>
        </div>
        <div class="price">1200  &#8381;</div>

      </div>
    </ng-container>
  </div>
</div>
