form {
  width: 100%;
  max-width: 450px;
  padding: 37px 20px 0;
  border-radius: 15px;
  margin: 0 auto;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  .title {
    text-transform: uppercase;
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 24px;
    margin: 0;
    margin-bottom: 30px;

    color: #003791;
  }

  a {
    color: #003791;
    text-decoration: none;
  }

  button {
    width: 80%;
    margin-bottom: 10px;
  }

  .mat-form-field {
    width: 100%;
    margin-bottom: 20px;
  }
}
