form {
  padding: 20px;
  border-radius: 15px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  .mat-checkbox {
    padding-bottom: 15px;
  }
  a {
    color: #003791;
    text-decoration: none;
  }
}
