<div class="container">
  <app-wallet class="wallets"></app-wallet>
  <div class="translation">
    <h2>Переводы</h2>
    <div class="translation-cards">
      <div class="translation-card">
        <h4>Клиенту Банка</h4>
        <p>На карту или счёт</p>
      </div>
      <div class="translation-card">
        <h4>Другому человеку</h4>
        <p>По России</p>
      </div>
      <div class="translation-card">
        <h4>Между своими счетами</h4>
        <p>Внутри банка</p>
      </div>
      <div class="translation-card">
        <h4>Биржа</h4>
        <p>Перевод на биржевой счёт</p>
      </div>
    </div>
  </div>

  <div class="payments">
    <h2>Платежи</h2>
    <div class="payments-cards">
      <a class="payment-card">Мобильная связь</a>
      <a class="payment-card">Работа и бизнес</a>
      <a class="payment-card">Дом</a>
      <a class="payment-card">Транспорт</a>
      <a class="payment-card">Государство</a>
      <a class="payment-card">Благотворительность</a>
    </div>
  </div>
</div>
