<div class="block">
  <h2>Валюты</h2>
  <table class="currency" cellpadding="7px">
    <tr class="row">
      <th class="first-column">Валюта</th>
      <th>Купить</th>
    </tr>
    <tr class="row">
      <td class="first-column">
        USD<br />
        <span class="sub-title">Доллар США</span>
      </td>
      <td>{{ usd | async }}</td>
    </tr>
    <tr class="row">
      <td class="first-column">
        EUR<br />
        <span class="sub-title">Евро</span>
      </td>
      <td>67</td>
    </tr>
  </table>
  <p class="show-all"><a class="link" routerLink="birge">Смотреть все или обменять</a></p>
</div>
