.block {
  border: 1px solid none;
  background-color: #d9d9d9;
  width: 25%;
  padding: 10px;
  border-radius: 10px;
  h2 {
    padding-left: 20px;
    margin-bottom: 10px;
  }
}

.currency {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  h4,
  .sub-title {
    color: #7e7e7e;
  }
  p {
    margin-bottom: 8px;
  }
  .sub-title {
    margin: 0 0 16px 0;
  }
}
