.block {
  font-family: 'Inter';
  background-color: #fff;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  width: 100%;
  font-weight: 300;
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  p {
    font-size: 20px;
  }
}
